
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.results-image {
    background-image: url("/static/assets/images/plant.jpg");
    background-size: cover; 
  }
  .city_not_found_image {
    background-image: url("/static/assets/images/3.jpg");
    background-size: cover;
  }
  #backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
body {
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    background-color: #140303;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
